*{
	font-family: sans-serif;
	font-size: 30px;
}
#external_styling{
			color: yellow;
		}

h1{
	font-size: 70px;
}

h2{
	text-transform: uppercase;
}

.ordered_list{
	background: lightgreen;
}

input[required]{
	border-color: red;
	width: 50%;
}

img + ul {
	list-style-type: none;
}

section img{
	width: 300px;
	height: 250px;
}

img ~ ul {
	text-indent: 100px;
}

body>section>ul>li{
	letter-spacing: 20px;
}
